@model FutureValueModel

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Future Value Calculator</h1>
        </div>
    </div>
</div>
<form asp-action="Index" method="post" class="container">
    <div class="row">
        <label class="col-md-4 col-12 col-form-label" asp-for="MonthlyInvestment">Monthly Investment:</label>
        <input class="col-md-4 col-12" asp-for="MonthlyInvestment"/>
        <div class="col-md-4 col-12">
            <span asp-validation-for="MonthlyInvestment"></span>
        </div>
    </div>
    <div class="row">
        <label class="col-md-4 col-12 col-form-label" asp-for="YearlyInterestRate">Yearly Interest Rate:</label>
        <input class="col-md-4 col-12" asp-for="YearlyInterestRate"/>
        <div class="col-md-4 col-12">
            <span asp-validation-for="YearlyInterestRate"></span>
        </div>
    </div>
    <div class="row">
        <label class="col-md-4 col-12 col-form-label" asp-for="Years">Number of Years:</label>
        <input class="col-md-4 col-12" asp-for="Years"/>
        <div class="col-md-4 col-12">
            <span asp-validation-for="Years"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-12">
            <div class="btn-group">
                <button type="submit" class="btn btn-outline-primary">Calculate</button>
                <a asp-action="Index" class="btn btn-outline-danger">Clear</a>
            </div>
            <div>
                <label>Future Value:</label>
                <input value="@ViewBag.FV.ToString("C2")" readonly>
            </div>
        </div>
    </div>
</form>